.bg-dark {
    background-color:white !important;
}
.navbar-dark .navbar-brand {
    color: black;
    font-weight: 700;
    font-size: 25px; 
}

.navbar-dark .navbar-nav .nav-link {
    color:black;
}

.nav-item {
    padding-left: 55px;
}

.navbar-nav {
    padding-right: 180px;
}