<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">Since our inception in 2005, we have grown continuously, with a footprint that now spans the Western Cape, Gauteng, KwaZulu-Natal, Orange freestate, CapeTown and Mpumalanga.</p>
                        <p class="aboutus-text">Because we understand that South Africa’s needs are as diverse as its heritage, we strive to offer value for money to every kind of customer with our well-loved brands Planet Fitness, UltraFitness Signature and JustGym.</p>
                        <a class="aboutus-more">read more</a>
                    </div>
                </div>
                <div class="col">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fa fa-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our people love our members</h4>
                                    <p>In a world that is constantly evolving and changing, why should your workout be any different? At UltraFitness, we offer exciting new training facilities and classes to keep things interesting – helping you find your balance and a better way of living.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fa fa-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>We keep it fresh</h4>
                                    <p>In a world that is constantly evolving and changing, why should your workout be any different? At Planet Fitness, we offer exciting new training facilities and classes to keep things interesting – helping you find your balance and a better way of living.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fa fa-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>Beyond the health and wellness benefits of regular exercise, UltraFitness Fitness members enjoy the very best in added value. You truly do get so much more for so much less!.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>