<main role="main" class="main">
    <div class="container">
        <div class="row login-form">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <form [formGroup]="formGroup">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                        <div class="text-center">
                            <button [disabled] = "!formGroup.valid" type="button" class="btn btn-primary">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</main>