<main role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name">
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" id="surname" aria-describedby="surname">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input type="text" class="form-control" id="contact" aria-describedby="contact">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email">
                        <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmEmail">Confirm Email address</label>
                        <input type="email" class="form-control" id="confirmEmail" aria-describedby="confirmEmail">
                    </div>
                    <div class="form-group">
                        <label for="passowrd">Password</label>
                        <input type="password" class="form-control" id="passowrd">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassowrd">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassowrd">
                    </div>
                    <div>&nbsp;</div>
        
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>