.card {
    margin-bottom: 30px;
}

.card-body {
    text-align: center;
    padding: 10px;

    a {
        width: 100%;
        color: white;
    }
}

.Resume {
    background-color: orange;
    border-color: orange;
}

.Start {
    background-color: purple;
    border-color: purple;
}

.Re-Enroll {
    background-color: green;
    border-color: green;
}